.formContiner {
	max-width: 500px;
	max-height: 800px;
	min-height: auto;
	min-width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 24px;
	padding-left: 30px;
}
@media (max-width: 768px) {
	.formContiner {
		width: 300px;
		height: 600px;
		margin-left: 4%;
	}
	p.buner {
		font-size: 25px;
		font-weight: 600;
	}
	p.bunerDesc {
		font-size: 14px;
	}
	.formInput input {
		width: 200px;
		height: 20px;
	}
	div.descriptionInput {
		font-size: 15px;
	}
	select.select {
		width: 280px;
		height: 30px;
		font-size: 15px;
	}
	input.formInput {
		width: 280px;
		height: 30px;
	}
	.errorsSpan {
		font-size: 18px;
	}
	button.formBtn {
		width: 140px;
		height: 30px;
		font-size: 18px;
		margin-top: 15px;
	}
	div.descriptionInput {
		padding-top: 3px;
	}
}

.buner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0px;
	font-size: 35px;
	font-weight: 800;
	color: #008080;
	/* padding-right: 30px; */
}

.bunerDesc {
	padding-top: 10px;
	margin-bottom: 5px;
	padding-left: 30px;
	font-size: 20px;
	color: #008080;
}

/* .formMain input {
	width: 300px;
	height: 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	border: 1px solid rgb(0, 0, 0);
} */

.formInput {
	width: 300px;
	height: 40px;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	border: 1px solid rgb(0, 0, 0);
}

.formInput:focus {
	outline: none;
	border-color: #008080;
}

.select {
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid rgb(0, 0, 0);
	text-align: center;
	font-size: 18px;
}

.descriptionInput {
	padding-top: 18px;
	padding-bottom: 3px;
	font-size: 20px;
	color: #008080;
}

.formBtn {
	width: 170px;
	height: 40px;
	margin-bottom: 80px;
	margin-top: 30px;
	background-color: #008080;
	border: 2px solid #008080;
	border-radius: 10px;
	font-size: 20px;
	color: #ffffff;
	cursor: pointer;
	transition: 0.5s;
	margin-left: 22.5%;
}

.formBtn:hover {
	transition: 0.5s;
	color: #008080;
	background-color: rgb(255, 255, 255);
}

.errorsSpan {
	color: red;
}

.alert {
	margin-top: 10px;
	margin-right: 30px;
	font-size: 30px;
	color: rgb(1, 177, 42);
	background-color: rgb(178, 241, 193);
	max-width: 500px;
	text-align: center;
	border-radius: 5px;
	/* padding-left: 15px;
	padding-right: 15px; */
}

@media (max-width: 768px) {
	.formContiner {
		font-size: 24px;
	}
}
