.main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(75vh - 20px - 10px);
}

.image {
	object-position: 20px;
	width: 70%;
	height: 100%;
}

.blotBlue1 {
	position: absolute;
	top: 50%;
	right: 95%;
}

.blotRed2 {
	position: absolute;
	top: 95%;
	right: 85%;
}

.blotBurgundy3 {
	position: absolute;
	top: 95%;
	right: 10%;
}

.blotBurgundy4 {
	position: absolute;
	top: 16%;
	right: 90%;
}

.blotBlue5 {
	position: absolute;
	top: 15%;
	right: 15%;
}

.blotRed6 {
	position: absolute;
	top: 50%;
	right: 3%;
}

.mainFirst {
	display: flex;
	flex-direction: column;
}

.paragraph {
	max-width: 1440px;
	width: 100%;
	color: black;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0px;
	padding: 30px 160px;
	text-align: justify;

	/* white-space:normal;
	word-spacing: normal; */
}

.paragraphm {
	font-size: 30px;
	font-weight: 600;
	color: #008080;
}

@media (max-width: 1940px) {
	.mainFirst {
		max-width: 85%;
	}
	.paragraph {
		font-size: 22px;
	}
	.blotBlue1 {
		top: 50%;
		right: 95%;
	}
	.blotRed2 {
		top: 80%;
		right: 85%;
	}
	.blotBurgundy3 {
		top: 80%;
		right: 5%;
	}
	.blotBurgundy4 {
		top: 15%;
		right: 90%;
	}
	.blotBlue5 {
		top: 15%;
		right: 5%;
	}
	.blotRed6 {
		top: 50%;
		right: 3%;
	}
}

@media (max-width: 1440px) {
	.mainFirst {
		max-width: 85%;
	}
	.paragraph {
		font-size: 22px;
	}
	.blotBlue1 {
		width: 50px;
		height: 50px;
		top: 50%;
		right: 90%;
	}
	.blotRed2 {
		width: 50px;
		height: 50px;
		top: 80%;
		right: 85%;
	}
	.blotBurgundy3 {
		width: 50px;
		height: 50px;
		top: 80%;
		right: 5%;
	}
	.blotBurgundy4 {
		width: 50px;
		height: 50px;
		top: 15%;
		right: 90%;
	}
	.blotBlue5 {
		width: 50px;
		height: 50px;
		top: 15%;
		right: 5%;
	}
	.blotRed6 {
		width: 50px;
		height: 50px;
		top: 50%;
		right: 3%;
	}
}

@media (max-width: 1024px) {
	.paragraph {
		font-size: 17px;
		padding: 30px 100px;
	}
	.paragraphm {
		font-size: 20px;
	}
	.mainFirst {
		max-width: 85%;
	}
}

@media (max-width: 769px) {
	.blotBlue1,
	.blotRed6,
	.blotBlue5,
	.blotBurgundy4,
	.blotBurgundy3,
	.blotRed2 {
		display: none;
	}
	.mainFirst {
		width: 95%;
	}
	.paragraph {
		font-size: 15px;
		padding: 20px 70px;
		line-height: 20px;
		letter-spacing: 0px;
		text-align: start;
	}
	.paragraphm {
		font-size: 15px;
	}
}

@media (max-width: 486px) {
	.paragraph {
		font-size: 15px;
		padding: 20px 20px;
		letter-spacing: 1px;
		/* word-spacing: -10px; */
		/* text-align: justify; */
		white-space: normal;
	}
}
